<%- include("header") -%>

<body>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% for(var i = 0; i < listItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= listItems[i] %>
      </p>

      <form action="/delete" method="POST"> <!-- Add form for delete button -->
        <input type="hidden" name="deleteIndex" value="<%= i %>"> <!-- Pass index of item to delete -->
        <button id="deleteButton" type="submit">x</button>
      </form>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
      <button type="submit" name="listSubmit" value=<%= listTitle %>>+</button>
    </form>
  </div>

</body>

<%- include("footer") -%>